[submodule "SDL3"]
	path = SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL3_ttf"]
	path = SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "SDL3_mixer"]
	path = SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "SDL3_image"]
	path = SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
